/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 120vh;
    background-color:#F3F3F3;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background:linear-gradient(to bottom,rgb(89, 183, 131), rgb(89, 183, 131) 20%, rgb(186, 217, 130) 40%, rgb(255, 240, 82) 60%, rgb(102, 175, 212) 100%);
    border-radius: 10px;
}  
